$blue:#6fb3e0;
$deepblue:#4c58a4;
$color1:#4487c7;
$color2:#f1653f;
$color11:#ff7366;
$color6:#ffb933;
$color5:#893eff;
$color3:#895e9d;
$color4:#77c6bf;
$green:#9ac274;
$color12:#00c486;
$color7:#a1cd9a;
$color9:#99a2f5;
$color8:#2ec5fa;
$color10:#1e9ec6;
$color13:#a0a0a0;
$color14:#fee188;
$color15:#f8f8f8;
$color16:#f2f2f2;
$color17:#eff3f8;
$color18:#d9edf7;
$color18:#dbdcdc;
